MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_LANDING=landing
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold
METABASE_PORT=3000
JAVA_TIMEZONE=America/Sao_Paulo
TRINO_PORT=8080
HMS_THRIFT_PORT=9083

# Hive Metastore / PostgreSQL
HMS_DB=metastore
HMS_USER=hive
HMS_PASSWORD=hive

# MinIO ports
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Supabase (PostgreSQL)
SUPABASE_URL=postgresql://postgres.ydnntdijcavvplaaqniu:[PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=changeme
