MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_LANDING=landing
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold
METABASE_PORT=3000
TRINO_PORT=8080

# Supabase (PostgreSQL)
SUPABASE_URL=postgresql://postgres.ydnntdijcavvplaaqniu:[PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
